sequencesNAT.csv
sequences.csv
dfcyps.csv
rhea.rdf
TPS-database.csv
new_plots_tps.rmd
.venv
allCYPs.csv
uniprot_analysisNAT.ipynb
uniprot_analysis.ipynb
top_10_subs.csv
top_10_products.csv
smiles_kingdom.csv
pfamsXcytochromes.ipynb
pfamsC.csv
PF00067.csv
organisms.csv
names.csv
interpro_pfam.py
pfamsXcytochromes.ipynb
cyps.csv
cytochromes_analysis.rmd
cytochromesDBC.csv
CYPsDB.csv
cytochrome_names.csv
